<template>
  <v-container>
    <v-card>
      <v-card-title class="black white--text">{{ $route.params.categ_name }}</v-card-title>
      <v-card-text>
        <v-row class="my-3">
          <v-col cols="12">
            <v-row>
              <v-col cols="12">
                <v-row class="black--text" v-if="allParts.length">
                  <v-col cols="12" class="border-light my-3" v-for="p in allParts" :key="p.id">
                    <v-row>

                      <v-col cols="2">
                        <v-img :src="p.product.img_url" alt="Image" width="100%" v-if="p.product.img_url"/>
                        <v-img src="../../assets/img/cam-icon.png" max-width="200" alt="Image" v-else/>
                      </v-col>
                      <v-col cols="8">
                        <div><strong>#{{ p.product.ref }}</strong> |{{ p.product.fournisseur }}</div>
                        <v-row>
                          <v-col cols="6">
                            <strong>Note</strong> <br> {{ p.product.note }}
                          </v-col>
                          <v-col cols="6">
                            <strong>Applicable pour</strong> <br> {{ p.product.applicable_for }}
                          </v-col>

                          <v-col cols="6">
                            <strong>Quantité minimal requise</strong> <br> {{ p.product.min_quantity }}
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="2">
                        <div v-if="p.product.price && p.product.price!=='0.00'">
                          <h2 class="red--text text-center">
                            ${{ p.product.price }}
                          </h2>
                          <div class="text-center">
                            <input type="number" min="1" class="form-control mx-auto" value="1">
                            <v-btn text small class="primary " @click="insertToCart(p)">
                              <v-icon>mdi-cart-plus</v-icon>
                              Ajouter au panier
                            </v-btn>
                          </div>

                        </div>
                        <h5 class="border-light text-center px-2" v-else>
                          <router-link :to="{name: 'Contact'}">Appelez-nous en magasin pour la disponibilité
                          </router-link>
                        </h5>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <h3 class="text-center" v-else>Nothing to show</h3>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
  name: "CategoryParts",
  data: () => ({
    products: [],
    product: {},
    openDialog: false,
    dialog: false
  }),
  methods: {
    ...mapActions({
      addProductToCart: "products/addProductToCart",
      fetchExtra: "products/fetchExtra",
    }),

    insertToCart(p) {
      this.addProductToCart(p)
    },
    showExtra (v) {
      this.product = v
      this.openDialog = !this.openDialog
    }
  },
  computed: {
    ...mapGetters(["allParts"])
  },
  created() {
    this.$store.dispatch("fetchByModelAndCategory", {
      model_d: this.$route.params.model_id,
      categ_id: this.$route.params.categ_id
    })
  }
}
</script>

<style scoped>
.border-light {
  border: 1px solid #ccc;
}

input[type=number] {
  width: 50%;
  padding: 5px 12px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}
</style>
