<template>
  <div>
    <v-navigation-drawer absolute temporary class="primary" v-model="drawer">
      <v-list class="pl-4">
        <v-list-item v-if="!$route.matched.some(({ name }) => name === 'Home')">
          <v-list-item-title>
            <router-link :to="{name:'Home'}">
              <v-btn text class="white--text">
                {{ $t('navbar.home') }}
              </v-btn>
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>
            <router-link :to="{name:'About'}">
              <v-btn text class="white--text">
                {{ $t('navbar.about') }}
              </v-btn>
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>
            <router-link :to="{name:'Parts'}">
              <v-btn text class="white--text">
                {{ $t('navbar.parts') }}
              </v-btn>
            </router-link>
          </v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title>
            <router-link :to="{name:'Contact'}">
              <v-btn text class="white--text">
                {{ $t('navbar.contact') }}
              </v-btn>
            </router-link>
          </v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>
            <router-link :to="{name:'Login'}">
              <v-btn text class="white--text">
                {{ $t('navbar.account') }}
              </v-btn>
            </router-link>
          </v-list-item-title>
        </v-list-item>
        <v-list-item>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-layout>
      <v-spacer></v-spacer>
      <v-btn href="/cart" icon>
        <v-badge
            :content="cartCount"
            :value="cartCount"
            color="green"
            overlap
        >
          <v-icon>mdi-cart</v-icon>
        </v-badge>
      </v-btn>

      <v-btn
          v-if="!isConnected"
          text :to="{name: 'Login'}"
      >
        <v-icon class="mr-3">mdi-account-circle-outline</v-icon>
        {{ $t('navbar.account') }}
      </v-btn>
      <v-menu v-else open-on-hover offset-y transition="slide-x-transition" bottom right>
        <template v-slot:activator="{ on, attrs }">
          <v-btn tes v-bind="attrs" v-on="on">
            <v-icon class="mr-3">mdi-account</v-icon>
            {{ name }}
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item v-for="(item, index) in services" :key="index" router :to="item.link">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-action>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-layout>

    <v-app-bar
        color="primary"
        dark
        flat
    >
      <div :class="$vuetify.breakpoint.mdAndUp?'mt-1':'mt-1'">
        <router-link :to="{name: 'Home'}">
          <v-img
              alt="Vuetify Logo"
              class="shrink mr-2"
              contain
              src="../assets/logo.png"
              transition="scale-transition"
              :width="$vuetify.breakpoint.smAndDown?100:170"
          />
        </router-link>

      </div>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="ref"
          :label="$t('navbar.search')"
          :placeholder1="$t('navbar.search')"
          rounded outlined dense
          background-color="white"
          color="black"
          class="mt-5 custom-placeholer-color"
          v-on:keyup.enter="search"
      >
        <template v-slot:append>
          <v-icon color="primary" @click="search" style="cursor: pointer !important;">mdi-magnify</v-icon>
        </template>
      </v-text-field>
      <v-spacer></v-spacer>
      <v-btn text class="hidden-sm-and-down">
        <v-icon>mdi-phone</v-icon>
        514-325-4619
      </v-btn>

      <v-btn
          text class="white--text"
          v-if="$i18n.locale==='en'"
          @click="switchLang('fr')"
      >
        Fr
      </v-btn>
      <v-btn
          text class="white--text ml-2"
          v-if="$i18n.locale==='fr'"
          @click="switchLang('en')"
      >
        En
      </v-btn>
      <v-app-bar-nav-icon
          @click.stop="drawer = !drawer"
          class="hidden-md-and-up white--text "
      />
    </v-app-bar>
    <!--    Lg navbar-->
    <v-layout class="blueDark white--text">
      <v-spacer></v-spacer>
      <div class="hidden-sm-and-down">
        <router-link :to="{name:'Home'}" v-if="!$route.matched.some(({ name }) => name === 'Home')">
          <v-btn text class="white--text">
            {{ $t('navbar.home') }}
          </v-btn>
        </router-link>
        <router-link :to="{name:'About'}">
          <v-btn text class="white--text">
            {{ $t('navbar.about') }}
          </v-btn>
        </router-link>
        <router-link class="white--text" :to="{name:'Parts'}">
          <v-btn text class="white--text">
            {{ $t('navbar.parts') }}
          </v-btn>
        </router-link>
        <router-link :to="{name:'Contact'}">
          <v-btn text class="white--text">
            {{ $t('navbar.contact') }}
          </v-btn>
        </router-link>
        <router-link :to="{name:'Login'}">
          <v-btn text class="white--text">
            {{ $t('navbar.account') }}
          </v-btn>
        </router-link>
      </div>
      <v-spacer></v-spacer>
    </v-layout>
  </div>
</template>

<script>
import i18n from '../i18n'
import {mapGetters} from 'vuex'
export default {
  name: 'Navbar',
  methods: {
    switchLang(lang) {
      i18n.locale = lang;
    },
    search() {
      if (this.ref) {
        this.$store.dispatch("search", this.ref[0] === "#" ? this.ref.substring(1) : this.ref)
        this.$router.push({name: 'PartsSearch', params: {ref: this.ref[0] === "#" ? this.ref.substring(1) : this.ref}})
      }
    }
  },
  data: () => ({
    drawer: false,
    ref: '',
    services: [
      {
        title: "Parametere du compte",
        link: "profile",
        icon: "mdi-cog"
      },
      {
        title: "Commande",
        link: "orders",
        icon: "mdi-format-list-bulleted-square"
      },
      {
        title: "Mes Reçus",
        link: "recite",
        icon: "mdi-clipboard-list "
      },
      {
        title: "Se deconnecter",
        link: "auth/logout",
        icon: "mdi-logout"
      },
    ]
  }),
  computed: {
    ...mapGetters('products', {
      cart: 'getCart',
    }),
    cartCount() {
      return this.cart.length;
    },
    isConnected() {
      return !(localStorage.getItem('token') === null || localStorage.getItem('token') === '');
    },
    name() {
      let user = JSON.parse(window.localStorage.getItem("userDataDT"));
      return user.name;
    }
  },
}
</script>
<style>
a {
  text-decoration: none;
}

.custom-placeholer-color input::placeholder {
  color: red !important;
  opacity: 0.8;
}

.custom-placeholer-color .v-label {
  color: black !important;
  opacity: 1;
  font-style: italic;

}

.custom-placeholer-color input {
  color: black !important;
  opacity: 1;

}
</style>
