<template>
    <div>
        <section class="hero" style="position: relative">
            <v-container class="menu-slogan">
                <v-row align="center" justify="stretch">
                <v-col class="white--text" cols="12" lg="6" md="6">
                    <h1 class="orange--text display-2">LA FROMENTINE</h1>
                    <p>{{$t("menu.subtitle")}}</p>
                    <v-btn x-large class="orange white--text" text> {{$t("menu.orderNow")}}</v-btn>
                </v-col>
                </v-row>
            </v-container>
            <v-img src="../../assets/logo.png" max-width="130" style="position: absolute; bottom: 0"></v-img>
        </section>
        <section class="app-page">
            <v-row no-gutters>
                <v-col
                    cols="12"
                    sm="6"
                    md="8"
                >
                    <v-card
                        class="pa-2"
                        outlined
                        tile
                    >
                        <section>
                            <v-btn type="info" @click="showPlage = !showPlage">{{$t('cart.choisir_une_plage')}}</v-btn>
                            <div class="time-section" v-if="showPlage">
                                <v-checkbox
                                    v-model="checkValue"
                                    :input-value="checkValue"
                                    :label="`${$t('asap')}`"
                                    color="primary"
                                ></v-checkbox>

                                <template v-if="!checkValue">
                                    <v-dialog
                                        ref="modalDay"
                                        v-model="modalDay"
                                        :return-value.sync="day.date"
                                        persistent
                                        width="290px"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="day.date"
                                            label="Jour"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                        </template>
                                        <v-date-picker
                                            v-model="day.date"
                                            scrollable
                                        >
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            text
                                            color="primary"
                                            @click="modalDay = false"
                                        >
                                            Cancel
                                        </v-btn>
                                        <v-btn
                                            text
                                            color="primary"
                                            @click="$refs.modalDay.save(day.date)"
                                        >
                                            OK
                                        </v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                    <vue-timepicker v-model="day.start_time" placeholder="heure"></vue-timepicker>
                                    <span> to </span>
                                    <vue-timepicker v-model="day.end_time" placeholder="heure"></vue-timepicker>
                                </template>
                            </div>
                        </section>
                        <section class="payment-section">
                            <h3>Les informations du payements</h3>
                            <div class="error red center-align white-text">{{stripeValidationError}}</div>

                            <div class="col s12 card-element">
                                <label>Card Number</label>
                                
                                    
                                <!-- </div> -->
                                <div id="card-number-element" class="input-value">
                                    
                                </div>
                                <span class="payment-icons">
                                    <img src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg" alt="visa" class="BrandIcon"/>
                                </span>
                            
                                <span class="payment-icons">
                                    <img src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg" alt="mastercard" class="BrandIcon"/>
                                </span>
                            </div>

                            <v-row no-gutters>
                                <v-col
                                    cols="6"
                                    sm="4"
                                    md="4"
                                >

                                    <div class="col s6 card-element">
                                        <label>Expiry Date</label>
                                        <div id="card-expiry-element"></div>
                                    </div>
                                </v-col>
                                <v-col
                                    cols="6"
                                    sm="4"
                                    md="4"
                                >

                                    <div class="col s6 card-element">
                                        <label>CVC</label>
                                        <div id="card-cvc-element"></div>
                                    </div>
                                </v-col>
                            </v-row>

                            <div class="col s6 card-element">
                                <label>Card holder name</label>
                                <v-text-field placeholder="Card holder name" ></v-text-field>
                            </div>
                        </section>

                        <section>
                            <h3 style="text-align:center">Les informations du client</h3>

                            <v-form ref="form" class="el-input app-form">
                                <v-text-field
                                    v-model="form.name"
                                    label="Nom ou pseudonyme"
                                    class="info-client-tex"
                                ></v-text-field>
                                <v-text-field
                                    v-model="form.email"
                                    label="Email"
                                    class="info-client-tex"
                                ></v-text-field>
                                <v-text-field
                                    v-model="form.phone"
                                    label="Numéro de téléphone"
                                    class="info-client-tex"
                                ></v-text-field>
                                <google-maps-address
                                    class="google-maps-field"
                                    v-model="form.address"
                                    v-on:updateaddress="updateAddress">
                                </google-maps-address>
                                
                                <v-textarea
                                    v-model="form.note"
                                    label="Note au livreur"
                                ></v-textarea>
                            </v-form>
                        </section>
                    </v-card>
                </v-col>
                <v-col
                    cols="6"
                    md="4"
                >
                    <v-card
                    class="pa-2"
                    outlined
                    tile
                    >
                        <div class="products">
                            <div v-for="p in cart" v-bind:key="p.id" class="products-element">
                                <v-row no-gutters>
                                    <v-col
                                        cols="6"
                                        md="6"
                                    >
                                        <img :src="p.product.img_url" width="180px"/>
                                    </v-col>
                                    <v-col
                                        cols="6"
                                        md="6"
                                    >
                                        <span class="">{{ p.product.name }} ({{p.quantity}})</span>
                                        <span class="products-element-price">$ {{ p.product.price }}</span>
                                    </v-col>
                                </v-row>
                            </div>
                        </div>

                        <div class="totals">
                            <div class="totals-element">
                                <span>{{ $t('cart.sub_total') }}:</span>
                                <span class="totals-element-price">$ {{cartTotal.toFixed(2)}}</span>
                            </div>

                            <div class="totals-element">
                                <span>{{ $t('cart.tps') }}:</span>
                                <span class="totals-element-price">$ 9.725</span>
                            </div>

                            <div class="totals-element">
                                <span>{{ $t('cart.tvq') }}:</span>
                                <span class="totals-element-price">$ 5.00</span>
                            </div>

                            <div class="totals-element">
                                <span>{{ $t('cart.fee') }}:</span>
                                <span class="totals-element-price">$ 5.00</span>
                            </div>

                            <div class="pourboir-section">
                                <v-radio-group v-model="radioGroup" row>
                                    <v-radio
                                        label="10%"
                                        :value="10"
                                        @change="savePourBoir(10)"
                                    ></v-radio>
                                    <v-radio
                                        label="15%"
                                        :value="15"
                                        @change="savePourBoir(15)"
                                    ></v-radio>
                                    <v-radio
                                        label="20%"
                                        :value="20"
                                        @change="savePourBoir(20)"
                                    ></v-radio>
                                    <v-radio
                                        label="25%"
                                        :value="25"
                                        @change="savePourBoir(25)"
                                    ></v-radio>
                                    <v-text-field class="poutboir-field" solo v-model="radioGroupValue" type="number" placeholder="saisir un montant" @change="parseNumber"></v-text-field>
                                </v-radio-group>
                            </div>

                            <div class="totals-element">
                                <span>Pourboir:</span>
                                <span class="totals-element-price">$ {{ radioGroupValue }}</span>
                            </div>

                            <div class="totals-element">
                                <span>Total:</span>
                                <span class="totals-element-price">$ {{ totalMoney.toFixed(2) }}</span>
                            </div>

                            <v-text-field placeholder="coupon code"></v-text-field>
                        </div>

                        <div class="complet-btn">
                            <v-btn color="primary" @click="submitOrder">{{ $t('cart.complet_checkout') }}</v-btn>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </section>


        <v-dialog
            transition="dialog-bottom-transition"
            max-width="600"
            v-model="dialog"
        >
            <template v-slot:default="dialog">
            <v-card>
                <v-toolbar
                color="primary"
                dark
                >Payement message</v-toolbar>
                <v-card-text>
                    <div class="text-h5 pa-3">
                        <div><v-icon class="success-icon">mdi-check</v-icon></div>
                        Thank you for your purchase, you will be deliver soon.
                    </div>
                </v-card-text>
                <v-card-actions class="justify-end">
                <v-btn
                    text
                    @click="dialog.value = false"
                >Close</v-btn>
                </v-card-actions>
            </v-card>
            </template>
        </v-dialog>
        
    </div>
</template>

<script>
//import { StripeElementCard } from '@vue-stripe/vue-stripe';
import { mapActions, mapGetters , mapMutations} from "vuex";

export default {
    name: 'CartCheckoutPage',
    data() {
        return {
            /// new ones
            stripe: null,
            cardNumberElement: null,
            cardExpiryElement: null,
            cardCVCElement: null,
            stripeValidationError: "",
            radioGroup: '',
            radioGroupValue: 0,
            form: {
                name: '',
                email: '',
                phone: '',
                address: '',
                note: '',
                complementAddress: '',
            },
            dialog: false,
            showPlage: false,
            modalDay: false,
            checkValue: false,
            day: {
                start_time: '',
                end_time: '',
                date: ''
            }

        };
    },
    /*
    |--------------------------------------------------------------------------
    | Component > components
    |--------------------------------------------------------------------------
    */
    components:{
//        StripeElementCard,


    },
    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: { 
        ...mapGetters('products', {
            cart: 'getCart',
            cartTotal: 'cartTotal',
        }),
        stripeElements () {
            return this.$stripe.elements();
        },
        totalMoney () {
            return this.cartTotal + 9.725 + 5 + 5 + this.radioGroupValue 
        }
    },
    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {
        ...mapActions('products', {
            completOrder: 'completOrder'
        }),
        createAndMountFormElements() {
            var elements = this.stripe.elements();
            this.cardNumberElement = elements.create("cardNumber");
            this.cardNumberElement.mount("#card-number-element");
            this.cardExpiryElement = elements.create("cardExpiry");
            this.cardExpiryElement.mount("#card-expiry-element");
            this.cardCvcElement = elements.create("cardCvc");
            this.cardCvcElement.mount("#card-cvc-element");
            this.cardNumberElement.on("change", this.setValidationError);
            this.cardExpiryElement.on("change", this.setValidationError);
            this.cardCvcElement.on("change", this.setValidationError);
        },
        setValidationError(event) {
            this.stripeValidationError = event.error ? event.error.message : "";
        },
        /**
         * @param {object} location
         * @returns {void}
         */
        updateAddress (location) {
            /*const _this = this
            this.details.postal_code = location.postal_code;
            this.details.coordinates = location.coorinates;
            if(location.postal_code.startsWith('J8') || location.postal_code.startsWith('J9')) {
                this.iAddress = this.details.address
                this.iPostal = location.postal_code
                this.iCoorinates = location.coorinates
            }else {
                this.details.address = this.cartAddress
                this.details.postal_code = this.cartPostal;
                Notification({
                    title: _this.$t('important'),
                    message: _this.$t('txt_warning'),
                    type: 'error'
                });
            }*/
        },
        submitOrder () {
            //this.dialog = true;
            let user = JSON.parse(window.localStorage.getItem("userDataDT"));

            let data = {
                order: {
                    address: this.form.address,
                    dateOrder: new Date(),
                    dateDelivery: this.day.date + ' ' + this.day.start_time + ' - ' + this.day.end_time,
                    user_id: user.id,
                    total: this.totalMoney,
                    nom_client: this.form.name,
                    phone_client: this.form.phone
                },
                products: []
            }

            this.cart.forEach( (el) => {
                data.products.push({
                    "product_id": el.product.id,
                    "quantity": el.quantity,
                    "price": el.product.price,
                    "total":  el.product.price *  el.quantity,
                });
            });
            
            this.completOrder(data);
        },
        savePourBoir (v) {
            this.radioGroupValue = Math.round(this.totalMoney * v) / 100;
        },
        parseNumber () {
            this.radioGroupValue = parseFloat(this.radioGroupValue)
        }
    },
    mounted() {
        this.stripe = Stripe("pk_test_******************");
        this.createAndMountFormElements();
        /* const style = {
            base: {
                color: 'black',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '14px',
                '::placeholder': {
                color: '#aab7c4',
                },
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a',
            },
        };
        this.cardNumber = this.stripeElements.create('cardNumber', { style });
        this.cardNumber.mount('#card-number');
        this.cardExpiry = this.stripeElements.create('cardExpiry', { style });
        this.cardExpiry.mount('#card-expiry');
        this.cardCvc = this.stripeElements.create('cardCvc', { style });
        this.cardCvc.mount('#card-cvc'); */
    },
    beforeDestroy () {
        this.cardNumberElement.destroy();
        this.cardExpiryElement.destroy();
        this.cardCVCElement.destroy();
  },
}
</script>


<style lang="scss" scoped>
.hero {
  height: 45vh;
  //background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url('../../assets/img/frometine-image-main.jpg') no-repeat center center;
  background-size: cover;
}
.menu-slogan {
  padding-top: 30px;
}

.app-page {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.app-form {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}



.payment-form {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ececec;
}
.payment-form h5 {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
}
#card-number-element,
#card-expiry-element,
#card-cvc-element {
    background: white;
    padding: 5px;
    border: 1px solid #ececec;
    height: 30px;
}
.place-order-button-block {
    margin: 10px 0;
}

.payment-icons {
    margin-right: 10px;
}

.payment-section {
    border-bottom: 2px solid rgb(107, 103, 103);
    margin-bottom: 20px;
    border-top: 2px solid rgb(107, 103, 103);
    margin-top: 20px;
}

h3 {
    color: rgb(16, 16, 75);
}

.google-maps-field{
	z-index: 3000 !important;
}
.google-maps-address-field{
	z-index: 3000 !important;
}

.products {
    &-element {
        border-bottom: 2px solid rgb(107, 103, 103);

        span {
            display: block;
            padding-top: 5px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;

        }

        &-price{
            color: rgb(68, 12, 5);
        }
    }
}

.totals {
    &-element {
        span {
            display: inline-block;
            padding-top: 5px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;

        }

        &-price{
            color: rgb(68, 12, 5);
            float: right;
        }
    }
}

.complet-btn {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.success-icon {
    min-width: 90%;
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: green;
    font-size: 100px;
    margin-bottom: 10px;
}

.info-client-tex {
    width: 70%;
}

.poutboir-field {
    width: 5%;
    height: 30px;
}

.pourboir-section {
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
}
</style>