<template>
  <div>
    <section class=" pa-3 hero pa-md-10">
      <v-row>
        <v-col cols="12" lg="6" md="8" class="mx-auto">
          <h3 class="text-center mb-8">{{ $t("auth.register") }}</h3>
          <v-text-field v-model="form.name" :label="$t('auth.name')" outlined filled append-icon="mdi-envelop"></v-text-field>
          <v-text-field v-model="form.email" :label="$t('auth.email')" outlined filled append-icon="mdi-envelop"></v-text-field>
          <v-text-field v-model="form.password" :label="$t('auth.password')" outlined filled append-icon="mdi-envelop"></v-text-field>
          <v-text-field v-model="form.phone" :label="$t('auth.phone')" outlined filled append-icon="mdi-envelop"></v-text-field>
          <v-text-field v-model="form.city" :label="$t('auth.city')" outlined filled append-icon="mdi-envelop"></v-text-field>
          
          <div>
            <v-btn large block class="primary my-8" @click="handleLogin">{{ $t("auth.create") }}</v-btn>
          </div>
          <div class="my-5">{{ $t("auth.alreadyRegistered") }} ?
            <router-link to="/auth/login" class="font-weight-bold">{{ $t("auth.login") }}</router-link>
          </div>
        </v-col>
      </v-row>
    </section>
  </div>
</template>
<script>
import { mapActions , mapMutations} from "vuex";
export default {
  name: 'Home',

  data() {
    return {
      form: {
        email: '',
        password: '',
        city: '',
        phone: '',
        name: ''
      }
    };
  },

  methods: {
    ...mapActions({
      login: "auth/register"
    }),

    onSignInSuccess(googleUser) {
      // `googleUser` is the GoogleUser object that represents the just-signed-in user.
      // See https://developers.google.com/identity/sign-in/web/reference#users
      const profile = googleUser.getBasicProfile() // etc etc
    },
    onSignInError(error) {
      // `error` contains any error occurred.
      console.log('OH NOES', error)
    },
    handleLogin () {
        this.login(this.form).then((res) => {
            this.$router.push('/auth/login');
        })
    }
  }
}
</script>
<style scoped>
.hero {
  background-size: cover;
}

.v-text-field--outlined >>> fieldset {
  border-color: black;
}
</style>
